@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@700&display=swap');

* { margin: 0; padding: 0; }

body { 
    overflow-x: hidden; 
    height: 100%;
}

.navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid rgb(206, 204, 204);
}

.navbar-brand { margin-left: 15%; }

#logo { 
    height: 60px;
    margin-left: 100%;
}

.navbar-collapse {
    width: 500px;
    margin-left: 16%; 
}
.nav-link { margin-right: 100px; }
.nav-link b { color:rgb(72, 99, 135); }

.carousel-item img { 
    height: 700px;
}
.carousel-caption h1 {
    width: 800px;
    font-size: 60px;
    color: rgb(240, 107, 59);
    margin-left: -10%;
    margin-bottom: 15%;
    font-family: 'Noto Sans KR', sans-serif;  
    -webkit-text-stroke: 1px black;
}

.equipment {
    margin: 0 auto;
    width: 60%;
}
.equipment ul { 
    margin-left: 3%;
    margin-right: 2%;
    padding: 40px 0;
}
.equipment li { 
    display: inline-block;
    width: 32%;
    list-style: none; 
    border: 1px solid rgb(182, 182, 182);
}
.equipment li:nth-child(2) { 
    margin-left: 1.3%;
    margin-right: 1.3%; 
}
.equipment li a { text-decoration: none; }
.equipment li img { 
    width: 100%; 
    height: 350px;
    float: left;
    margin-bottom: 5%;
}

.li_title {
    display: inline;
    font-size: 23px;
    color: rgb(87, 96, 147);
    padding: 8%;
}
.li_subtitle {
    color: black;
    padding-left: 8.5%;
}

.counter {
    display: inline-block;
    width: 200px;
    margin-top: 8px;
}

.left {
    float: left;
    margin-right: 10px;
}

.today { color: red; }

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 200px; /* footer의 높이 */
}

footer { 
    width: 100%;
    height: 220px; /* footer의 높이 */
    position: absolute;  
    bottom: 0;
    left: 0;
    color: #999;
    background-color: #122535;
}footer h1 { 
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer {
    border-bottom: 1px solid rgb(122, 124, 134);
    width: 80%;
    margin: 0 auto;
}

.font { 
    font-size: 14px;
    font-weight: bold;
}

.info {
    margin-top: 20px;
    margin-left: 32%;
    font-size: 14px;
    font-weight: bold;
}

.hidden { display: none; }

/*M_데스크탑*/
@media screen and (max-width: 1980px) {
    .navbar-brand { margin-left: 5%; }

    .navbar-collapse { margin-left: 20%; }
    
    .carousel-caption h1 {
        width: 650px;
        font-size: 50px;
        color: rgb(240, 107, 59);
        margin-right: 80%;
        margin-bottom: 20%;
    }

    .carousel-item img { 
        height: 600px;
    }

    .equipment {
        margin: 0 auto;
        width: 75%;
    }

    .equipment li img { 
        width: 100%; 
        height: 270px;
        float: left;
        margin-bottom: 5%;
    }
    
    #body-wrapper {
        min-height: 100%;
        position: relative;
    }
    
    #body-content {
        margin-top: 100px;
        padding-bottom: 200px; /* footer의 높이 */
    }
    
    footer { 
        width: 100%;
        height: 220px; /* footer의 높이 */
        position: absolute;  
        bottom: 0;
        left: 0;
    }

    .info {
        margin-top: 20px;
        margin-left: 26%;
        font-size: 14px;
        font-weight: bold;
    }

    .hidden { display: none; }
    .hidden3 { display: block; }
}

/*테블릿*/
@media screen and (max-width:1200px) {
    nav {
        width: 100%;
        height: 80px;
    }
    .container-fluid {    
        margin: 0; padding: 0;
        background-color: white;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .navbar-collapse { margin-left: 20%; }

    #logo {
        height: 60px;
        margin-left: 20%;
    }

    .date { display: inline-block; }

    .nav-link {
        width: 120px;
        background-color: white;
        line-height: 20px;
        margin-right: 0px;
    }.nav-link b {
        float: right;
        margin-right: 30px;
    }
    
    .navbar-toggler {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .carousel-item img { 
        width: 100%;
        height: 300px;
    }
    .carousel-caption h1 {
        font-size: 35px;
        color: rgb(240, 107, 59);
        margin-left: -25%;
        margin-bottom: 8%;
     }

    .equipment {
        margin: 0 auto;
        width: 100%;
    }
    .equipment ul { 
        margin-left: 3%;
        margin-right: 3%;
        padding: 40px 0;
    }
    .equipment li { 
        display: inline-block;
        width: 32%;
        list-style: none; 
        border: 1px solid rgb(182, 182, 182);
    }
    .equipment li:nth-child(2) { 
        margin-left: 1%;
        margin-right: 1%; 
    }
    .equipment li a { text-decoration: none; }
    .equipment li img { 
        width: 100%;
        height: 250px;
        float: left;
        margin-bottom: 5%;
    }
    
    .li_title {
        display: inline;
        font-size: 23px;
        color: rgb(87, 96, 147);
        padding: 5%;
    } 
    .li_subtitle {
        color: black;
        padding-left: 6%;
    }

    .counter {
        display: inline-block;
        width: 250px;
        margin-left: 3%;
    }

    #body-content {
        margin-top: 0px;
        padding-bottom: 70px; /* footer의 높이 */
    }
    
    footer { 
        width: 100%;
        height: 220px; /* footer의 높이 */
        position: relative;  
        bottom: 0;
        left: 0;
        color: #999;
        background-color: #122535;
    }footer h1 { margin-left: 40%; }

    .info {
        margin-top: 20px;
        margin-left: 17%;
        font-size: 14px;
        font-weight: bold;
    }

    .hidden { display: block; }
    .hidden2 { display: none; }
}

@media screen and (max-width: 993px) {
    nav {
        width: 100%;
        height: 80px;
    }
    .container-fluid {
        margin: 0; padding: 0;
        background-color: white;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    #logo {
        height: 63px;
        margin-left: 20px;
    }
    
    .navbar-collapse {
        margin-left: 0;
    }

    .nav-link {
        width: 100%;
        background-color: white;
        line-height: 30px;
        margin-right: 0px;
    }.nav-link b {
        color:rgb(45, 48, 88);
        float: right;
        margin-right: 30px;
    }
    .navbar-nav a:hover { border-bottom: 5px solid rgb(19, 83, 179); }
    
    .equipment li img { 
        width: 100%;
        height: 170px;
        float: left;
        margin-bottom: 5%;
    }

    #body-content {
        margin-top: 0px;
        padding-bottom: 130px; /* footer의 높이 */
    }
}

/*모바일 사이즈*/
@media screen and (max-width:640px) {
    nav {
        width: 100%;
        height: 80px;
    }
    .container-fluid {
        margin: 0; padding: 0;
        background-color: white;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    #logo {
        height: 63px;
        margin-left: 20px;
    }
    
    .navbar-collapse {
        margin-left: 0;
    }

    .nav-link {
        width: 100%;
        background-color: white;
        line-height: 30px;
        margin-right: 0px;
    }.nav-link b {
        color:rgb(45, 48, 88);
        float: right;
        margin-right: 30px;
    }

    .navbar-nav { 
        width: 100%;
        float: right; 
    }.navbar-nav a:hover { border-bottom: 5px solid rgb(19, 83, 179); }
    
    .navbar-toggler {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .carousel-item img { 
        width: 100%;
        height: 270px;
    }
    .carousel-caption h1 {
        font-size: 23px;
        color: rgb(240, 107, 59);   
        margin-left: -70%;
        margin-bottom: 18%;
    }

    .title { font-size: 20px; }

    .equipment {
        width: 100%;
    }
    .equipment ul { 
        margin: 3%;
        padding: 30px 0;
    }
    .equipment li { 
        display: inline-block;
        width: 100%;
        list-style: none; 
        border: 1px solid rgb(182, 182, 182);
        margin-bottom: 15px;
    }
    .equipment li:nth-child(2) { 
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .equipment li a { text-decoration: none; }
    .equipment li img { 
        width: 100%;
        height: 300px;
        float: left;
        margin-bottom: 5%;
    }
    
    .li_title {
        display: inline;
        font-size: 23px;
        color: rgb(87, 96, 147);
        padding: 8%;
    }    
    .li_subtitle {
        color: black;
        padding-left: 9%;
    }
  
    #body-wrapper {
        min-height: 100%;
        position: relative;
    }

    footer { 
        width: 100%;
        height: 220px; /* footer의 높이 */
        position: absolute;  
        bottom: 0;
        left: 0;
        color: #999;
        background-color: #122535;
    }footer h1 { 
        margin-left: 27%;
    }
    
    .footer {
        border-bottom: 1px solid rgb(122, 124, 134);
        width: 80%;
        margin: 0 auto;
    }
    
    #body-content {
        margin-top: 100px;
        padding-bottom: 200px; /* footer의 높이 */
    }

    .info {
        margin-top: 20px;
        margin-left: 15%;
        font-size: 12px;
        font-weight: bold;
    }

    .hidden { display: block; }
} 