* { margin: 0; padding: 0; }

body { overflow-x: hidden; }

.navbar {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid rgb(206, 204, 204);
}

#logo { 
    height: 65px;
    margin-left: 100px;
}

.navbar-collapse {
    margin-left: 10%; 
}
.nav-link { 
    margin-right: 100px; 
}
.nav-link b { color:rgb(72, 99, 135); }

.carousel-item img { 
    height: 550px;
}

.equipment {
    margin: 1%;
    width: 100%;
}
ul { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
li { 
    display: inline;
    list-style: none; 
}
li img { 
    width: 32%;
    float: left;
    margin-right: 1%;
}

/* footer {
    display: block;
    background-color: rgb(27, 47, 77);
    color:rgb(156, 154, 154);
    width: 100%;
    height: 150px;
    bottom: 0;
    position: absolute;
}
#logoLetter { 
    text-align: center;
    margin-top: 20px;
} */

/*테블릿*/
@media screen and (max-width:1000px) {
    nav {
        width: 100%;
        height: 80px;
    }
    .container-fluid {
        margin: 0; padding: 0;
        background-color: white;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    #logo {
        height: 63px;
        margin-left: 20px;
    }
    
    .navbar-collapse {
        margin-left: 0;
    }

    .nav-link {
        background-color: white;
        line-height: 30px;
        margin-right: 0px;
    }.nav-link b {
        color:rgb(45, 48, 88);
        float: right;
        margin-right: 30px;
    }
    .navbar-nav a:hover { border-bottom: 5px solid rgb(19, 83, 179); }
    
    .navbar-toggler {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .carousel-item img { 
        width: 100%;
        height: 305px;
    }

    ul {
        margin: 2%; 
        padding: 30px 0;
    }

    /* footer {
        display: block;
        background-color: rgb(27, 47, 77);
        color:rgb(156, 154, 154);
        width: 100%;
        height: 150px;
        bottom: 0;
        position: absolute;
    } */
}

/*모바일 사이즈*/
@media screen and (max-width:640px) {
    nav {
        width: 100%;
        height: 80px;
    }
    .container-fluid {
        margin: 0; padding: 0;
        background-color: white;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    #logo {
        height: 63px;
        margin-left: 20px;
    }
    
    .navbar-collapse {
        margin-left: 0;
    }

    .nav-link {
        background-color: white;
        line-height: 30px;
        margin-right: 0px;
    }.nav-link b {
        color:rgb(45, 48, 88);
        float: right;
        margin-right: 30px;
    }
    .navbar-nav a:hover { border-bottom: 5px solid rgb(19, 83, 179); }
    
    .navbar-toggler {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .carousel-item img { 
        width: 100%;
        height: 250px;
    }

    .equipment ul {
        margin: 2%; 
        padding: 20px 0;
    }
} 